  <div class="py-4 bg-light">
    <section id="about">
      <div class="container">
        <!-- 上段 -->
        <div class="row mb-4">
          <div class="col-md-8 mb-3">
            <h3 class="mb-3">BoardAppについて</h3>
            <p>今まで勉強した内容をアウトプットするためには作成したサイトです。現状は掲示板を作成して語り合うサイトになっています。機能も続々追加していきますのでよろしくお願いします</p>
            <%  unless logged_in?  %>
              <%= link_to '登録', new_user_path, class: "btn btn-info" %>
              <%= link_to 'ログイン', login_path, class: "btn btn-info" %>
            <% end %>
          </div>
        </div>
  </div>