<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <% if message.class == Array %>
      <% message.each do |msg| %>
        <ul>  
          <li><%= msg %></li>
        </ul>
      <% end %>
    <% else %>
          <li><%= message %></li>
    <% end %>  
  </div>
<% end %>